Задача с именами

Есть файл с именами (https://yadi.sk/i/97rbNP2ucGoAKw). Нужно выполнить следующие действия и посчитать результат:

1) Отсортировать все имена в лексикографическом порядке

In [1]:
l = []
with open('names.txt', encoding='utf8') as f:
    l = f.read().split(',')

In [2]:
for i in range(len(l)):
    l[i] = l[i].replace('"','')

In [3]:
len(l)

5165

In [4]:
l[-1]

'ALONSO'

In [16]:
l[0:5]

['MARY', 'PATRICIA', 'LINDA', 'BARBARA', 'ELIZABETH']

In [6]:
l_copy = l.copy()

In [7]:
l_copy.sort()

In [17]:
l_copy[0:5]

['AARON', 'ABBEY', 'ABBIE', 'ABBY', 'ABDUL']

2) Посчитать для каждого имени алфавитную сумму – сумму порядковых номеров букв (MAY: 13 + 1 + 25 = 39)

In [9]:
alpha = {'A':1,'B':2, 'C':3, 'D':4, 'E': 5, 'F':6, 'G':7,
         'H':8,'I':9, 'J':10,'K':11 ,'L':12,
         'M':13, 'N':14, 'O':15, 'P':16, 'Q':17, 'R':18, 'S':19,
         'T':20,'U':21,'V':22,'W':23,'X':24,'Y':25,'Z':26}

In [10]:
l_copy_two = {}
for i in l:
    i = i.upper()
    word = 0
    for letter in i:
        word+=alpha[letter]
    l_copy_two[i] = word

In [18]:
l_copy_two['PATRICIA']

77

3) Умножить алфавитную сумму каждого имени на порядковый номер имени в отсортированном списке (индексация начинается с 1). Например, если MAY находится на 63 месте в списке, то результат для него будет 63 * 39 = 2457.

In [12]:
l_copy_three = {}
for i in range(1, len(l_copy)+1):
    l_copy_three[l_copy[i-1]] = i * l_copy_two[l_copy[i-1]]

In [19]:
l_copy_three['PATRICIA']

297220

4) Просуммировать произведения из п. 3 для всех имен из файла и получить число. Это число и будет ответом.

In [14]:
summ = 0
for i in l_copy_three:
    summ+=l_copy_three[i]

In [15]:
summ

871853874